// 一般

body {
	background: #F2F2F2;
	font-family: "Noto Sans CJK TC", sans-serif;
}

// little hr

hr.little {
  display: block;
  height: 1px;
  border: 0;
  opacity: 0.4;
  border-top: 3px solid grey;
  margin: 3em auto;
  width: 40px;
  padding: 0;
}


// 自己家的 border

.mdl-card--border_bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
// 使用狀態的 icon

i.active-icon {
	.homepage & {
		color: #FF5252;	
	}
	color: #FF5252;
}

// 上方工具列

.homepage .mdl-layout__header,
.homepage .mdl-layout__drawer-button,
.homepage .notification-button {
  color: rgba(0,0,0,0.54);
}

header.mdl-layout__header.mdl-layout__header--transparent {
	background-color: transparent;
}

.corner-area {
	color: rgba(0,0,0,0.54);
	z-index: 4;
	position: absolute;
	a.mdl-navigation__link {
		padding: 4px 8px;
		color: rgba(0,0,0,0.54);
		display: inline-block;
		i {
			vertical-align: middle;
		}
	}
}

// 不同尺寸的間隔

@media (max-width: 479px) {
	.corner-area {
		top: 10px;
		&.right {
			right: 12px;
		}
		&.left {
			left: 12px;
		}
	}
}

@media (min-width: 480px) and (max-width: 1023px) {
	.corner-area {
		top: 10px;
		&.right {
			right: 12px;
		}
		&.left {
			left: 12px;
		}
	}
}

@media (min-width: 1024px) {
	.corner-area {
		top: 16px;
		&.right {
			right: 19px;
		}
		&.left {
			left: 19px;
		}
	}
}



// logo

.logo {
	hr.little {
		margin-bottom: 1em;
	}
	text-align: center;
	margin: 65px auto 0px auto;
	img {
		width: 130px;
		height: 130px;
	}
	button {
		position: relative;
		top: -1px;
	}
	p {
		padding: 0 2em;
		margin-top: 2em;
	}
	p a {

		font-size: 14px;
		color: rgba(0,0,0,0.4);
		text-decoration: none;
		&:hover {
		color: rgba(0,0,0,0.81);
		}
	}
}

@media screen and (max-width:1024px) {

	.logo {
		margin: 55px auto 25px auto;
		img {
			width: 98px;
			height: 98px;
		}
	}

}

// search full 大區塊


#compact-search {
	.logo {
		margin: 55px auto 35px auto;
		img {
			width: 78px;
			height: 78px;
			cursor: pointer;
		}
	}
}

#search-full {
	display: none;
	.mdl-textfield__input {
		font-size: 20px;
		padding: 6px 0;
	}
	.mdl-textfield__label {
		padding: 6px 0;
		font-size: 20px;
	}
	.search-field {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.mdl-textfield {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		margin-left: 0.5em;
	}
}

// 顯示或隱藏搜尋欄位 (depreciated)


main.mdl-layout__content {
	&.show-search-full {
			#search-full, #compact-search, #search-result {
				display: block;
			}
		.logo {
			p, hr {
				display: none;
			}
		}

		.logo {
			margin: 55px auto 15px auto;
			img {
				width: 78px;
				height: 78px;
				cursor: pointer;
			}
		}
		.hide-when-search {
			display: none;
		}
	}
}

// 一般的 search area

.search-area {
	background: white;
	border-radius: 2px;
	height: 48px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	padding: 12px 16px;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	input {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		&:focus {
			outline: none;
		}
		vertical-align: top;
		box-sizing: border-box;
		height: 24px;
		line-height: 24px;
		border: none;
		font-size: 16px;
	}
}


// 小螢幕時撐開 app bar 和下方內容區塊

.vertical-spacer {
 display: block;
 display: none;
 width: 100%;
 height: 32px;
}

// 寬度

$page-width: 1024px;

.mdl-grid {
	max-width: $page-width;
	margin: 0 auto;
}


// 讓 action 的按鈕左右排好

.mdl-card__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing:border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

}

// 產品列與商家追蹤列表


.product-list, .store-news-list {

	.billboard-card {
		.mdl-card__title-text {
			font-size: 20px;
		}
	}

	.link-to-product {
		width: 100%;
		height: 200px;
		display: block;
		overflow: hidden;
		p {
			color: rgba(0,0,0,0.54);
			font-size: 12px;
			margin-top: 1em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}


	@media (max-width: 479px) {
	.link-to-product {
		height: 160px;
		overflow: hidden;
		}
	}

	
	// 	讓品名和 favorite icon 置底
	.mdl-card--media.mdl-card--expand {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.store-news-card .mdl-card__actions, .product-card .mdl-card__actions {
		height: 39px;
	  padding: 16px;
		background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.29) 76%);
	  color: white;
	  
		a.product-title {
			line-height: 24px;
			max-width: 80%;
			height: 24px;
			font-size: 12px;
		  color: white;
		  text-decoration: none;
		  font-weight: normal;
			text-overflow: ellipsis;
		  overflow : hidden;
		  white-space : nowrap;
		}
		i.favorite-button {
			cursor: pointer;
		}
	}
}


// 商家追蹤列表上方的商家 avatar

.store-news-list {
	
	a.avatar {
		font-size: 12px;
		color: rgba(0,0,0,0.54);
		text-decoration: none;
		img {
			width: 20px;
			height: 20px;
			vertical-align: top;
			margin-right: 12px;
		}
	}
	 
}



// icon divider

.icon-divider {
	margin: 20px auto 0px auto;
	text-align: center;
	.material-icon {
		font-size: 24px;
	}
}

// spacer grid
// 在桌面版用來稱空間的 grid

.spacer-grid.mdl-cell {
	background: transparent;
	height: 0px;
}

// 輪播

.slide-card  {
	.slide-wrap {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		background: yellow;
		box-sizing: border-box;
		padding: 32px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		h1 {
			color: white;
			font-size: 34px;
		}		
		p {
			font-size: 16px;
			color: rgba(255,255,255,0.7);
		}
	}
	position: relative;
	a.full-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&:hover {
			background: rgba(0,0,0, 0.2);
		}
	}
}

#slideshow {
	overflow: hidden;
	height: 400px;
	position: relative;
	.slide-wrap {
		background: yellow;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


@media (max-width: 479px) {
	#slideshow {
		height: 200px;
		p {
			display: none;
		}
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	#slideshow {
		height: 300px;
	}
}
@media (min-width: 840px) {
	#slideshow {
		height: 400px;
	}
}

// category

.category-list {
	margin-bottom: 	30px;
}

.mdl-cell.category-card {
	min-height: 70px;
	.category-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		position: relative;
		top: -10px;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.category-icon {
		&.dot {
			background: none;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
		}

		&.expand_less {
			display: none;
		}

		&.hide {
			display: none;
		}
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		font-size: 12px;
		text-align: center;
		width: 11%;
		height: 100px;
		background-size: 60px;
		margin-bottom: 5px;
		text-decoration: none;
		color: rgba(0,0,0,0.38);
		&:hover {
			color: rgba(0,0,0,0.84);
		}
	}
}

// category icon

.category-icon.favorite-products { background: url('../img/category/favorite-products.svg') center center no-repeat ; }
.category-icon.favorite-stores { background: url('../img/category/favorite-stores.svg') center center no-repeat ; }
.category-icon.search { background: url('../img/category/search.svg') center center no-repeat ; }


.category-icon._1 { background: url('../img/category/1.svg') center center no-repeat ; }
.category-icon._2 { background: url('../img/category/2.svg') center center no-repeat ; }
.category-icon._3 { background: url('../img/category/3.svg') center center no-repeat ; }
.category-icon._4 { background: url('../img/category/4.svg') center center no-repeat ; }
.category-icon._5 { background: url('../img/category/5.svg') center center no-repeat ; }
.category-icon._6 { background: url('../img/category/6.svg') center center no-repeat ; }
.category-icon._7 { background: url('../img/category/7.svg') center center no-repeat ; }
.category-icon._8 { background: url('../img/category/8.svg') center center no-repeat ; }
.category-icon._9 { background: url('../img/category/9.svg') center center no-repeat ; }
.category-icon._10 { background: url('../img/category/10.svg') center center no-repeat ; }
.category-icon._11 { background: url('../img/category/11.svg') center center no-repeat ; }
.category-icon._12 { background: url('../img/category/12.svg') center center no-repeat ; }
.category-icon._13 { background: url('../img/category/13.svg') center center no-repeat ; }
.category-icon._14 { background: url('../img/category/14.svg') center center no-repeat ; }
.category-icon._15 { background: url('../img/category/15.svg') center center no-repeat ; }
.category-icon._16 { background: url('../img/category/16.svg') center center no-repeat ; }
.category-icon._17 { background: url('../img/category/17.svg') center center no-repeat ; }
.category-icon._18 { background: url('../img/category/18.svg') center center no-repeat ; }
.category-icon._19 { background: url('../img/category/19.svg') center center no-repeat ; }
.category-icon._20 { background: url('../img/category/20.svg') center center no-repeat ; }
.category-icon._21 { background: url('../img/category/21.svg') center center no-repeat ; }
.category-icon._22 { background: url('../img/category/22.svg') center center no-repeat ; }
.category-icon._23 { background: url('../img/category/23.svg') center center no-repeat ; }
.category-icon._24 { background: url('../img/category/24.svg') center center no-repeat ; }
.category-icon._25 { background: url('../img/category/25.svg') center center no-repeat ; }
.category-icon._26 { background: url('../img/category/26.svg') center center no-repeat ; }
.category-icon._27 { background: url('../img/category/27.svg') center center no-repeat ; }
.category-icon._28 { background: url('../img/category/28.svg') center center no-repeat ; }
.category-icon._29 { background: url('../img/category/29.svg') center center no-repeat ; }

// 在不同 size 顯示的數量與寬度

@media (max-width: 479px) {
	.mdl-cell.category-card .category-icon {
		width: 32%;
	}
	// 6 個
}

@media (min-width: 480px) and (max-width: 839px) {
	.mdl-cell.category-card .category-icon {
		width: 24%;
	}
	// 8 個
}

@media (min-width: 840px) {
	.mdl-cell.category-card .category-icon {
		width: 11%;
	}
	
	//9 個
}


// 顯示全部目錄

.category-container.show-all {
	.category-icon {
		&.expand_more {
			display: none;
		}
		&.expand_less, &.hide {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
		
	}
}


// 每個區塊的分界

.section-title {
	.mdl-cell {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}


// 分頁

.pager.mdl-cell {
	padding-top: 32px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	a {
		text-decoration: none;
		// color: rgba(0,0,0,0.34);
	}
	.next-page button {
		margin-left: 16px;
		// color: rgba(0,0,0,0.54);
	}
	.previous-page button {
		margin-right: 16px;
		// color: rgba(0,0,0,0.54);
	}
}



// footer

footer {
	.mdl-mega-footer__drop-down-section .mdl-mega-footer__link-list li {
		line-height: 1.8em;	
	}
}

// 搜尋結果


.seller-list {
	#tab-bar .mdl-cell {
		min-height: 49px;
		height: 49px;
		overflow: hidden;
	}
	
	.mdl-card {
		min-height: 90px;
	}

	a.avatar {
		text-align: center;
		width: 100%;
		display: block;
		img {
			width: 50%;
			margin: 25% 25% 20% 25%;
		}
	}

	.seller-name {
		box-sizing: border-box;
		font-size: 12px;
		line-height: 16px;
		color: rgba(0,0,0,0.54);
		padding: 8px 16px;
	}

}


// store page

.store-page {

	.store-profile {
		text-align: center;
		background: #FFFFFF;
		padding-top: 66px;
		padding-bottom: 16px;
		a.avatar img {
			width: 80px;
			height: 80px;
		}
		h1 {
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			margin-bottom: 0;
			padding: 0 72px;
		}
		p {
			font-size: 12px;
			color: rgba(0,0,0,0.54);
			margin-bottom: 16px;
		}
		a.profile_excerpt {
			display: block;
			font-size: 12px;
			line-height: 16px;
			font-weight: normal;
			text-decoration: none;
			color: rgba(0,0,0,0.26);
			width: 65%;
			margin: 0 auto;
			height: 32px;
			overflow: hidden;
		}
	}

	// 讓預告可以展開
	.billboard-card {
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;   
		min-height: 40px;
		.mdl-card__supporting-text {
			display: none;
		}
		.expand-less {
			display: none;
		}
			.link-to-product {
				height: 86px;			
			}
			&.expand {
			.link-to-product {
				height: auto;			
			}
			.expand-more {
				display: none;
			}
			.expand-less {
				display: block;
			}
		}
	}

	.mdl-tabs__tab-bar {
		background: white;
	}

}


// product

.product-page {
	// 上方添加 gradient
	.mdl-layout__content::after {
	 display: block;
	 content: "";
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 height: 64px;
	 z-index: 1;
	 background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.1) 76%);
	}

}


