// 商品頁按鈕

#checkout-fab .mdl-badge.mdl-badge--white-background[data-badge]:after {
		color: white;
    background: none;
    box-shadow: none;
    top: -16px;
    left: 0px;
    text-align: center;
}

#checkout-fab {
	.mdl-button--fab .material-icons  {
		top: 59%;
	}
}

.social-links div {
	a {
	  text-decoration: none;
	}
	.line-button {
		position: relative;
		top: -2px;
		width: 68px;
	}
	width: 100%;
	display: flex;
	align-items: flex-start;
	a, div {
		margin-right: 10px;
	}
}


a.plurk-button {
  display: block;
  float: left;
  background: red;
  border-radius: 2px;
  height: 20px;
  width: auto;
  white-space: nowrap;
  line-height: 20px;
  padding: 0 10px;
  background: #A34F00;
  text-decoration: none;
  font-weight: normal;
  background-image: linear-gradient(-180deg, #a34f00 4%, #6c451f 100%);
  border-radius: 3px;
	span {
    display: block;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAUCAYAAACTQC2+AAAAAXNSR0IArs4c6QAAAlpJREFUSA2tVU1oE1EQnrdJk60U0ZSStdAeGil4FwQPBhIarzkXETwV8eJBK9560/ageFDoxZv11uYeJHoRBAuit4DgXxqSmvbQYluT3ed8W198++Nuan0wvJlv5s3sm52ZJyhiNZ5emkil00tEIi8EnQkzlSR3Gd8gKd4yX/myu1U5P7fe9dsKP6BkBEmb5juWMwobZJdEHx1H3s5eqa7p9oYu6PzhTY4WBOf5y3MJQ6xurswsLixQ33+f0YMc8iIfxAZHBIn5G9Mz99QJQ0qZYrrPtPGbwKf0fyL2e5R636Lhl59cAg8sbiHY95ViGXYCQXi/4zu02Hl+2cXg0Hz9lUTP8ZjIpEH7FydImkkP7hfwzz7vdM4hdVf9Sh0bqncCQWCPwNDFLfyzyZFMGakLVB5jQ8pBYmtPsYE9SqcbcwrLotlsPrEs67quiOL3rp31qH+Uch45TOD+qhuFQuFho9FYtm277ThOfC7CPMVj40Y2m92JtzumhRQyWavVbrKbuWO6ij4uZBO1Gag6pHD9UX4Up80330h0/5R27mS/TkimEtEBlJbn4N+qzlY29ilTsYHdzgwHsDAAw9ZotVqe4QfDdru9OmWdINDkhXGayqQJN/Hchhu2O+1eOsx3H0PDYqJ7qg6VhwosFosPlCU6HxOgZ424qUK6wA8yFeADkxzPBpoVn3UaoLa2N5+VPujzTtMNzHLKlsZmq+4owwhC72wzYUqCwDMmX/H+zwtBHterd5UDNRERzNOsPw8O5vnhKzF+5IdPkH1rbPZFRQXBHphzuvJ/PuW/AF8IA173F8xUAAAAAElFTkSuQmCC') left center no-repeat;
    background-size: 13px 10px;
    padding-left: 19px;
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-weight: bold;
	}
}

// 商品頁面的「類別」捲軸

.horizontal-scroller {


	margin-bottom: -16px;
	padding-top: 16px;
	.mdl-chip {
		margin-right: 10px;
		&:first-child {
				margin-left: 16px;
		}
	}

	//尾端有空間
	&::after {
		content: "\00a0";
		display: inline-block;
		width: 16px;
		height: 1px;
	}

	&::-webkit-scrollbar { 
    display: none; 
	}
	box-sizing: border-box;
	width: 100%;
	height: auto;
	overflow-x: scroll;
	overflow-y: hidden; 
	display: flex;
	z-index: 1;
	flex-direction: row;
}

// store / product page 樣式微調


.store-page, .product-page {
	header .material-icons {
		color: rgba(0,0,0,0.54);
	}	
}


.store-nav {
	a {
		margin: 10px;
		i {
			color: #00BCD4;
			font-size: 24px;
			padding-right: 5px;
		}
	}
}

// 上架畫面

.independent-shipping {
	display: none;
}

#physical-goods .mdl-card__title-text {
	margin-top: 40px;
}

.card-padding {
	p {
		padding-bottom: 8px;
		margin-bottom: 0;
	}
}
.shipping-box {
	display: none;
	padding: 20px;
	background: rgba(245, 245, 245, 1);	
	.mdl-textfield {
		display: block;
	}
}

.image-pool {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 250px;
	padding: 20px;
	background: rgba(245, 245, 245, 1);
	.image-holder {
		border-radius: 2px;
		width: calc(25% - 20px);
		margin: 10px;
		height: 150px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&:hover {
			span {
				opacity: 0.8;
			}
		}
		span {
			i.material-icons {
				font-size: 24px;
				line-height: 32px;
				color: white;
			}
			cursor: pointer;
			opacity: 0;
			width: 32px;
			height: 32px;
			border-radius: 2px;
			font-size: 16px;
			position: absolute;
			top: 5px;
			left: 5px;
			background: red;
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

}

.full-width-form {
	.mdl-textfield {
		width: 100%;
	}
}

// utilities

.vertical-spacer-alt {
	display: block;
	height: 80px;
}

// iframe

iframe#plurk {
	position: fixed;
	background: white;
	top:0;
	right:0;
	bottom: 0;
	width: 400px;
	height: 100%;
	z-index: 200;
	border-left: 1px solid rgba(0,0,0,0.2);
	box-shadow: -1px 0 10px rgba(0,0,0,0.3);
}

.gray {
	color: rgba(0, 0, 0, 0.54);
}

.link-normalizer {
	a {
		color: inherit;
		text-decoration: inherit;
		&:hover {
			color: rgb(255,64,129);
			text-decoration: underline;
		}
	}
}

// product-card

select.plain-select {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	-webkit-appearance: none;
	background: transparent;
	outline: none;
	line-height: 36px;
	font-weight: 500;
	width: auto;
	font-size: 14px;
  padding: 0 8px;
	border:none;
	border-radius: 2px;
	margin: 0 8px;
	&:hover {
		background: rgba(226, 226, 226, 1);
	}
}

.order-status {
	color: white;
	background: gray;
	font-size: 11px;
	border-radius: 3px;
	padding: 4px 8px;
	&.light {
		font-size: 9px;
		padding: 1px 6px;
		background: rgba(0,0,0,0.3);
	}
	&.green {
		background: rgba(139, 195, 74, 1);
	}
	&.yellow {
		background: darken(rgba(255, 152, 0, 1), 2%);
	}
}


// avatar in settings

.avatar {
	width: 72px;
	border-radius: 2px;
	margin-bottom: 5px;
}

// custom 2 col layout

.two-col {
	width: 80%;
	margin: 0 auto;
	.left-col {
		display: inline-block;
		text-align: right;
		min-width: 30%;
		padding-right: 5%;
	}
	.right-col {
		display: inline-block;
		text-align: left;
	}
}

// 一般

a.category-icon.active { 
 	color: black;
	font-weight: bold;
 }

body {
	background: #F2F2F2;
	font-family: "Noto Sans CJK TC", sans-serif;
}

a {
	cursor: pointer;
	img {
		border: none;
	}
}

img {
	outline: none;
	border: none;
}

.mdl-card {
	min-height: 60px;
}
.mdl-card__supporting-text {
	width: auto;
}


// 修正 firefox 問題

h2 {
	min-width: 200px;
}

// 修正按鈕的兼具

.mdl-layout__header-row a.mdl-navigation__link {
	padding: 0 8px 0 16px;
}


// 商家業和商品業尚方

#topbar.mdl-layout__header {
	background: white;
	color: rgba(0,0,0,0.54);
	a {
		color: rgba(0,0,0,0.54);
	}
}


// 表格線條顏色

.mdl-data-table td {
	border-color: rgba(230, 230, 230, 1);
}

// 購物車上方


#cart-bar.mdl-layout__header {
	background: white;
	color: rgba(0,0,0,0.54);
	a {
		color: rgba(0,0,0,0.54);
	}
}

.mdl-layout__header--transparent.mdl-layout__header {
	color: rgba(0,0,0,0.54);
	a {
		color: rgba(0,0,0,0.54);
	}
}

// 購物車內容

.cart-card {
	.mdl-data-table {
		max-width: 100%;
		box-sizing: border-box;
	}
	strong.price {
		padding: 0 12px 0 0;
	}
	.price {
		width: auto;
		padding-left: 0;
		white-space: nowrap;
		text-align: right;
		font-size: 12px;
		color: rgba(0,0,0,0.54);
		font-weight: bold;
	}
	.mdl-data-table {
		width: 100%;
		box-sizing: border-box;
		border: none;
		.mdl-data-table__cell--non-numeric {
			white-space: normal;
		}
		.item {
			white-space: normal;
		}
		.product-img {
			width: 60px;
		}
		h6 {
			margin: 0;
			line-height: 1.2em;
			font-size: 14px;
		}
		a {
			text-decoration: none;
		}
		p {
			font-size: 11px;
			margin-bottom: 10px;
			color: rgba(0,0,0,0.54);
		}
	}

	.mdl-data-table__cell--non-numeric.product-img {
		padding: 8px 0 8px 8px;
		text-align: left;
		vertical-align: top;
		.img-wrapper {
			width: 60px;
			height: 60px;
			overflow: hidden;
		}
	}
}


// spinner 



.spinner-area {
	position: fixed;
	overflow: visible;
	height: 1px;
	width: 100%;
	top: 10px;
	z-index: 100;
	text-align: center;
	img {
		transition: all 0.2s;
		width: 30px;
		height: 30px;
	  opacity: 0.54;
		-webkit-filter: brightness(0%);
		        filter: grayscale(0%);
	}
	img:hover {
		width: 50px;
		height: 50px;
		opacity: 1;
		-webkit-filter: brightness(100%);
		        filter: grayscale(100%);
	}
}

@media (min-width: 1024px) {
	.spinner-area, .fixed-area {
		top: 16px;
	}
}


@media (min-width: 480px) and (max-width: 1023px) {
	.corner-area {
		top: 10px;
		&.right {
			right: 12px;
		}
		&.left {
			left: 12px;
		}
	}
}
// little hr

hr.little {
  display: block;
  height: 1px;
  border: 0;
  opacity: 0.4;
  border-top: 3px solid gray;
  margin: 3em auto;
  width: 40px;
  padding: 0;
}


// 自己的 border

.mdl-card--border_bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
// 使用狀態的 icon

i.active-icon {
	.homepage & {
		color: #FF5252;	
	}
	color: #FF5252;
}

// 上方工具列

.homepage .mdl-layout__header,
.homepage .mdl-layout__drawer-button,
.homepage .notification-button {
  color: rgba(0,0,0,0.54);
}

header.mdl-layout__header.mdl-layout__header--transparent {
	background-color: transparent;
}


// 產品頁讓 商店名稱後退一點

.corner-area {
	&.center {
		margin: 0 auto;
		left: calc(50% - 30px);
		width: 60px;
		text-align: center;
	}
	a.avatar {
		text-decoration: none;
		.product-page &.logo {
		}
		&.logo img {
			box-shadow: none;
			outline: none;
			border: none;
		}
		img {
			width: 32px;
			height: 32px;
			border-radius: 2px;
			border: none;
			box-shadow: 0 0 1px rgba(0,0,0,0.4);
		}
	}
	color: rgba(0,0,0,0.54);
	z-index: 3;
	position: absolute;
	a.mdl-navigation__link {
		padding: 4px 8px;
		color: rgba(0,0,0,0.54);
		display: inline-block;
		i {
			vertical-align: middle;
		}
	}
}

// 不同尺寸的間隔

@media (max-width: 479px) {
	.corner-area {
		top: 12px;
		&.right {
			right: 12px;
		}
		&.left {
			left: 60px;
		}
	}
}

@media (min-width: 480px) and (max-width: 1023px) {
	.corner-area {
		top: 12px;
		&.right {
			right: 12px;
		}
		&.left {
			left: 60px;
		}
	}
}

@media (min-width: 1024px) {
	.corner-area {
		top: 16px;
		&.right {
			right: 19px;
		}
		&.left {
			left: 67px;
		}
	}
}



// logo

.logo,.page-description {
	color: rgba(0,0,0,0.4);
	hr.little {
		margin-bottom: 1em;
	}
	text-align: center;
	a img {
		width: 80px;
		height: 80px;
	}
	button {
		position: relative;
		top: -1px;
	}
	p {
		padding: 0 2em;
		margin-top: 2em;
	}
	p a {
		display: inline-block;
		font-size: 14px;
		color: rgba(0,0,0,0.4);
		text-decoration: none;
		&:hover {
		color: rgba(0,0,0,0.81);
		}
	}
}
.logo {
		margin: 65px auto 10px auto;
}

@media screen and (max-width:1024px) {

	.logo {
		margin: 55px auto 10px auto;
		img {
			width: 98px;
			height: 98px;
		}
	}

}

// search full 大區塊


#compact-search {
	.logo {
		margin: 55px auto 35px auto;
		img {
			width: 78px;
			height: 78px;
			cursor: pointer;
		}
	}
}

#search-full {
	.mdl-textfield__input {
		font-size: 20px;
		padding: 6px 0;
	}
	.mdl-textfield__label {
		padding: 6px 0;
		font-size: 20px;
	}
	.search-field {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.mdl-textfield {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		margin-left: 0.5em;
	}
}

// 顯示或隱藏搜尋欄位 (depreciated)


main.mdl-layout__content {
	&.show-search-full {
			#search-full, #compact-search, #search-result {
				display: block;
			}
		.logo {
			p, hr {
				display: none;
			}
		}

		.logo {
			margin: 55px auto 15px auto;
			img {
				width: 78px;
				height: 78px;
				cursor: pointer;
			}
		}
		.hide-when-search {
			display: none;
		}
	}
}

// 一般的 search area

.search-area {
	background: white;
	border-radius: 2px;
	overflow: hidden;
	height: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	padding: 8px 16px;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	input {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		&:focus {
			outline: none;
		}
		vertical-align: top;
		box-sizing: border-box;
		height: 24px;
		line-height: 24px;
		border: none;
		font-size: 16px;
	}
}


// 小螢幕時撐開 app bar 和下方內容區塊

.vertical-spacer {
	display: block;
	display: none;
	width: 100%;
	height: 32px;
}

// 寬度

$page-width: 1024px;

.mdl-grid {
	max-width: $page-width;
	margin: 0 auto;
}


// 讓 action 的按鈕左右排好

.mdl-card__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing:border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

}

// 相關產品

#related-product {
	&::-webkit-scrollbar { 
    display: none; 
	}
	box-sizing: border-box;
	width: 100%;
	height: auto;
	overflow-x: scroll;
	overflow-y: hidden; 
	display: flex;
	z-index: 1;
	flex-direction: row;
	.product-card {
		z-index: auto;
		min-width: 200px;
	}
}

@media (max-width: 479px) {
	#related-product {
		.product-card {
			height: 200px;
		}
	}
}


// 產品列與商家追蹤列表

.product-list, .store-news-list {

	.billboard-card {
		.mdl-card__title-text {
			font-size: 20px;
		}
	}

	.link-to-product {
		width: 100%;
		height: 200px;
		display: block;
		overflow: hidden;
		p {
			color: rgba(0,0,0,0.54);
			font-size: 12px;
			margin-top: 1em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}


	@media (min-width: 321px) and (max-width: 479px) {
	.link-to-product {
		height: 150px;
		overflow: hidden;
		}
	}

	@media (max-width: 320px) {
	.link-to-product {
		height: 110px;
		overflow: hidden;
		}
	}


	
	// 	讓品名和 favorite icon 置底
	.mdl-card--media.mdl-card--expand {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}



	.product-card {
		height: 280px;
	}


	.store-news-card .mdl-card__actions, .product-card .mdl-card__actions {
	  padding: 8px 12px 12px 12px;
	  line-height: 12px;
		// background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.45) 66%);
	  // color: white;
	  div.name-title {
			max-width: calc(100% - 30px);
			text-overflow: ellipsis;
		  overflow : hidden;
		  white-space : nowrap;
	  }
		a.product-title {
			line-height: 24px;
			height: 24px;
			font-size: 13px;
		  color: rgba(0,0,0,0.87);
		  text-decoration: none;
		  font-weight: normal;
		  display: inline-block;
		  margin: 0;
		  padding-bottom: 0;
		}
		small.price {
			display: inline-block;
			line-height: 14px;
			font-size: 12px;
			color: rgba(0,0,0,0.54);
		}
		.fav-count {
			text-align: center;
			width: 24px;
			margin-top: 3px;
			small {
				font-size: 11px;
				display: block;
				margin-top: 3px;
			}
			i.favorite-button {
				cursor: pointer;
			}
		}
	}
}


// 商家追蹤列表上方的商家 avatar

.store-news-list {
	
	a.avatar {
		font-size: 12px;
		color: rgba(0,0,0,0.54);
		text-decoration: none;
		img {
			width: 20px;
			height: 20px;
			vertical-align: top;
			margin-right: 12px;
		}
	}
	 
}



// icon divider

.icon-divider {
	margin: 20px auto 0px auto;
	text-align: center;
	.material-icon {
		font-size: 24px;
	}
}

// spacer grid
// 在桌面版用來稱空間的 grid

.spacer-grid.mdl-cell {
	background: transparent;
	height: 0px;
}

// 輪播

.slide-card  {
	.slide-wrap {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		background: yellow;
		box-sizing: border-box;
		padding: 24px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		h1 {
			color: white;
			font-size: 30px;
			margin-top: 0;
			margin-bottom: 10px;
		}		
		p {
			font-size: 16px;
			margin-bottom: 0;
			color: rgba(255,255,255,0.7);
		}
	}
	position: relative;
	a.full-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&:hover {
			background: rgba(0,0,0, 0.2);
		}
	}
}

#slideshow {
	overflow: hidden;
	height: 400px;
	position: relative;
	.slide-wrap {
		background: yellow;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


@media (max-width: 479px) {
	#slideshow {
		height: 200px;
		p {
			display: none;
		}
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	#slideshow {
		height: 300px;
	}
}
@media (min-width: 840px) {
	#slideshow {
		height: 400px;
	}
}

// 切換 store-nav user-nav

// .store-nav, .user-nav {
// 	transition: all 0.3s;
// }

// .nav-on {
// 	display: inline-block;
// 	opacity: 1;
// }

// .nav-off {
// 	display: none;
// 	transform: scale(0.5);
// 	opacity: 0;
// }

// category

.category-list {
	margin-bottom: 	20px;
}

.mdl-cell.category-card {
	margin-top: -10px;
	min-height: 70px;
	.category-container-scroll {
		height: 90px;
		padding-bottom: 15px;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden; 
	 .category-icon {
	 	width: 80px;
	 }
	}
	.category-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		position: relative;
		top: -10px;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.category-icon {
		&.dot {
			background: none;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
		}

		&.expand_less {
			display: none;
		}

		&.hide {
			display: none;
		}
		padding-top: 70px;
		box-sizing: border-box;
		display: inline-block;
		font-size: 12px;
		text-align: center;
		width: 11%;
		height: 90px;
		background-size: 45px;
		margin-bottom: 5px;
		text-decoration: none;
		color: rgba(0,0,0,0.38);
		&:hover {
			color: rgba(0,0,0,0.84);
		}
	}
}

// category icon

.category-icon.favorite-products { background: url('../img/category/favorite-products.svg') center center no-repeat ; }
.category-icon.favorite-stores { background: url('../img/category/favorite-stores.svg') center center no-repeat ; }
.category-icon.search { background: url('../img/category/search.svg') center center no-repeat ; }



.category-icon.line { background: url('../img/category/vertical.svg') center center no-repeat ; }



// icon for users
.category-icon._01 { background: url('../img/category/01.svg') center center no-repeat ; }
.category-icon._02 { background: url('../img/category/02.svg') center center no-repeat ; }
.category-icon._03 { background: url('../img/category/03.svg') center center no-repeat ; }
.category-icon._04 { background: url('../img/category/04.svg') center center no-repeat ; }
.category-icon._05 { background: url('../img/category/05.svg') center center no-repeat ; }
.category-icon._06 { background: url('../img/category/06.svg') center center no-repeat ; }
.category-icon._07 { background: url('../img/category/07.svg') center center no-repeat ; }
.category-icon._08 { background: url('../img/category/08.svg') center center no-repeat ; }
.category-icon._09 { background: url('../img/category/09.svg') center center no-repeat ; }
.category-icon._010 { background: url('../img/category/010.svg') center center no-repeat ; }
.category-icon._011 { background: url('../img/category/011.svg') center center no-repeat ; }
.category-icon._012 { background: url('../img/category/012.svg') center center no-repeat ; }





.category-icon._menu { background: url('../img/category/menu.svg') center center no-repeat ; }

.category-icon._1 { background: url('../img/category/1.svg') center center no-repeat ; }
.category-icon._2 { background: url('../img/category/2.svg') center center no-repeat ; }
.category-icon._3 { background: url('../img/category/3.svg') center center no-repeat ; }
.category-icon._4 { background: url('../img/category/4.svg') center center no-repeat ; }
.category-icon._5 { background: url('../img/category/5.svg') center center no-repeat ; }
.category-icon._6 { background: url('../img/category/6.svg') center center no-repeat ; }
.category-icon._7 { background: url('../img/category/7.svg') center center no-repeat ; }
.category-icon._8 { background: url('../img/category/8.svg') center center no-repeat ; }
.category-icon._9 { background: url('../img/category/9.svg') center center no-repeat ; }
.category-icon._10 { background: url('../img/category/10.svg') center center no-repeat ; }
.category-icon._11 { background: url('../img/category/11.svg') center center no-repeat ; }
.category-icon._12 { background: url('../img/category/12.svg') center center no-repeat ; }
.category-icon._13 { background: url('../img/category/13.svg') center center no-repeat ; }
.category-icon._14 { background: url('../img/category/14.svg') center center no-repeat ; }
.category-icon._15 { background: url('../img/category/15.svg') center center no-repeat ; }
.category-icon._16 { background: url('../img/category/16.svg') center center no-repeat ; }
.category-icon._17 { background: url('../img/category/17.svg') center center no-repeat ; }
.category-icon._18 { background: url('../img/category/18.svg') center center no-repeat ; }
.category-icon._19 { background: url('../img/category/19.svg') center center no-repeat ; }
.category-icon._20 { background: url('../img/category/20.svg') center center no-repeat ; }
.category-icon._21 { background: url('../img/category/21.svg') center center no-repeat ; }
.category-icon._22 { background: url('../img/category/22.svg') center center no-repeat ; }
.category-icon._23 { background: url('../img/category/23.svg') center center no-repeat ; }
.category-icon._24 { background: url('../img/category/24.svg') center center no-repeat ; }
.category-icon._25 { background: url('../img/category/25.svg') center center no-repeat ; }
.category-icon._26 { background: url('../img/category/26.svg') center center no-repeat ; }
.category-icon._27 { background: url('../img/category/27.svg') center center no-repeat ; }
.category-icon._28 { background: url('../img/category/28.svg') center center no-repeat ; }
.category-icon._29 { background: url('../img/category/29.svg') center center no-repeat ; }








// 在不同 size 顯示的數量與寬度

@media (max-width: 479px) {
	.mdl-cell.category-card .category-container .category-icon {
		width: 32%;
	}
	// 6 個
}

@media (min-width: 480px) and (max-width: 839px) {
	.mdl-cell.category-card .category-container .category-icon {
		width: 24%;
	}
	// 8 個
}

@media (min-width: 840px) {
	.mdl-cell.category-card .category-container .category-icon {
		width: 11%;
	}
	
	//9 個
}


// 顯示全部目錄

.category-container.show-all {
	.category-icon {
		&.expand_more {
			display: none;
		}
		&.expand_less, &.hide {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
		
	}
}


// 每個區塊的分界

.section-title {
	.mdl-typography--headline-color-contrast {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.mdl-cell {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}


// 分頁

.pager.mdl-cell {
	padding-top: 32px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	a {
		text-decoration: none;
		// color: rgba(0,0,0,0.34);
	}
	.next-page button {
		margin-left: 16px;
		// color: rgba(0,0,0,0.54);
	}
	.previous-page button {
		margin-right: 16px;
		// color: rgba(0,0,0,0.54);
	}
}



// footer

footer {
	.mdl-mega-footer__drop-down-section .mdl-mega-footer__link-list li {
		line-height: 1.8em;	
	}
}

// 搜尋結果


.seller-list {
	#tab-bar .mdl-cell {
		min-height: 49px;
		height: 49px;
		overflow: hidden;
	}
	
	.mdl-card {
		min-height: 90px;
	}

	a.avatar {
		text-align: center;
		width: 100%;
		display: block;
		img {
			width: 50%;
			margin: 25% 25% 20% 25%;
		}
	}

	.seller-name {
		box-sizing: border-box;
		font-size: 12px;
		line-height: 16px;
		color: rgba(0,0,0,0.54);
		padding: 8px 16px;
	}

}


// store page

.store-page {

	.mdl-layout__drawer-button {
		color: rgba(0,0,0,0.87);
	}

	.store-profile {
		text-align: center;
		background: white;
		padding-top: 36px;
		padding-bottom: 1px;
		a.avatar img {
			width: 80px;
			height: 80px;
		}
		h1 {
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			margin-bottom: 0;
			padding: 0 72px;
		}
		p {
			font-size: 12px;
			color: rgba(0,0,0,0.54);
			margin-bottom: 16px;
		}
		a.profile_excerpt {
			display: block;
			font-size: 12px;
			line-height: 16px;
			font-weight: normal;
			text-decoration: none;
			color: rgba(0,0,0,0.26);
			width: 65%;
			margin: 0 auto;
			height: 32px;
			overflow: hidden;
		}
	}

	// 讓預告可以展開
	.billboard-card {
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;   
		min-height: 40px;
		.mdl-card__supporting-text {
			display: none;
		}
		.expand-less {
			display: none;
		}
			.link-to-product {
				height: 86px;			
			}
			&.expand {
			.link-to-product {
				height: auto;			
			}
			.expand-more {
				display: none;
			}
			.expand-less {
				display: block;
			}
		}
	}

	.mdl-tabs__tab-bar {
		background: white;
	}

}


// list style

.text-list {
	padding-left: 0;
	li {
		list-style: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		i {
			width: 24px;
			margin-top: 10px;
			margin-right: 36px;
			opacity: 1;
		}
		i.material-icons {
			color: rgba(0,0,0,0.87);
		}
		a {
			&:hover {
				color: rgb(255, 64, 129);
			}
			font-size: 16px;
			line-height: 46px;
			text-decoration: none;
			color: rgba(0,0,0,0.87);
			small {
				padding-left: 1em;
				color: rgba(0,0,0,0.32);
			}
		}
	}
}


.icon-list {
	@extend .text-list;
}


// product

	.buy-bar {
		z-index: 10;
		height: 64px;
		margin-top: 0;
		margin-bottom: 12px;
		border-top: 1px solid rgba(0,0,0,0.11);
		border-bottom: 1px solid rgba(0,0,0,0.11);
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		button.mdl-button--icon {
			margin-left: 16px;
		}
		
		#buy-now {
			color: rgb(255,255,255);
	    background-color: rgb(255,64,129);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 		}
 		#buy-now.normalize {
				box-shadow: none;
				color: #ff4081;
				background: transparent;
			  &.mdl-button:hover {
			    background-color: rgba(158,158,158, 0.20); }
			  &.mdl-button:focus:not(:active) {
			    background-color: rgba(0,0,0, 0.12); }
			  &.mdl-button:active {
			    background-color: rgba(158,158,158, 0.40); }
			  &.mdl-button.mdl-button--colored {
			    color: rgb(63,81,181); }
			  &.mdl-button.mdl-button--colored:focus:not(:active) {
			      background-color: rgba(0,0,0, 0.12); } 		

 		}


		@media (max-width: 480px) {
			// 手機啟動固定模式
			height: 54px;
			position: fixed;
			bottom:0;
			left: 0;
			right:0;
			background: white;
			padding: 0 16px;
			margin-bottom: 0;
			// #buy-now {
			// 	box-shadow: none;
			// 	color: #ff4081;
			// 	background: transparent;
			//   &.mdl-button:hover {
			//     background-color: rgba(158,158,158, 0.20); }
			//   &.mdl-button:focus:not(:active) {
			//     background-color: rgba(0,0,0, 0.12); }
			//   &.mdl-button:active {
			//     background-color: rgba(158,158,158, 0.40); }
			//   &.mdl-button.mdl-button--colored {
			//     color: rgb(63,81,181); }
			//   &.mdl-button.mdl-button--colored:focus:not(:active) {
			//       background-color: rgba(0,0,0, 0.12); } 		
			// }
		}
	}

#buy-section {
	padding-top: 0;
	padding-bottom: 0;

}

#main-product-info {
	background: white;
}

#sub-product-info {
	hr {
		margin-top: 0;
	}
	// 小標題
	h6 {
		color: rgba(0, 0, 0, 0.54);
		font-size: 13px;
		line-height: 18px;
		font-weight: bold;	
	}
	h2 {
		font-size: 16px;
		margin: 0;
		font-weight: bold;
	}
}

.product-page {

	// 調整 social button

	#share-section {
		button {
		margin: 0 8px;
			opacity: 0.87;
		}
	}
	
	.mdl-button img {
		margin-top: -4px;
	}

	// 下方的商店資訊

	.store-info-card {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 8px 0;
		img {
			width: 40px;
			height: 40px;
			border-radius: 2px;
			margin-right: 16px;
		}
		button {
			margin-top: 4px;
		}
		a {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			text-decoration: none;
			h1 {
				margin: 0;
				color: rgba(0,0,0,0.87);
				font-size: 14px;
				line-height: 24px;
				font-weight: bold;
			}
			p {
				color: rgba(0,0,0,0.54);
				margin: 0;
				line-height: 12px;
				font-size: 12px;
			}
		}
	}

	// 上方添加 gradient

		@media (min-width: 839px) {
	#image-holder {
			border-radius: 4px;
}		}

		@media (min-width: 839px) {
			.go-next, .go-prev {
				i {
					color: black;
				}
			}
			.go-next {
				right: 90px;
			}
			.go-prev {
				left: 90px;
			}
		}

	#image-holder {

		.go-next, .go-prev {
			position: absolute;
				i {
					color: white;
				}
			top: 220PX;
		}
		.go-next {
			right: 10px;
		}
		.go-prev {
			left: 10px;
		}
		border-radius: 0;
		height: 500px;
		overflow-x: auto;
		overflow-y: hidden;
    white-space: nowrap;
		-webkit-overflow-scrolling: touch;

		.img-container {
			width: 100%;
			padding: 0;
			margin: 0;
			height: 100%;
			box-sizing: border-box;
			display: inline-block;
		}

		.img-container:first-child {
			// width: 100%;
			// max-width: 100%;
		}

	}

	h1.mdl-typography--headline {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.product-price {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		p {
			line-height: 24px;			
		}
	}

	@media (min-width: 840px) {
		#link-gallery {
  		margin-top: -30px;
  	}
  }
	#link-gallery {
		overflow-x: auto;
    white-space: nowrap;
    z-index: 1;
		-webkit-overflow-scrolling: touch;
		padding: 12px 16px 0 16px;
		a {
			i {
				position: absolute;
				left: 16px;
				top: 24px;
			}
			padding: 16px 16px 16px 52px;
			font-size: 12px;
		  -webkit-line-clamp: 3;
		  -webkit-box-orient: vertical;
	    white-space: normal;
			color: rgba(0,0,0,0.54);
			text-decoration: none;
			background: #D3E8BE;
			box-sizing: border-box;
			height: 72px;
			min-width: 250px;
			width: 40vw;
			max-width: 360px;
			display: inline-block;
			vertical-align: top;
			margin-right: 8px;
			overflow: hidden;
		  position: relative;
		  border-radius: 2px;
			&:after {
			  content: "";
			  position: absolute;
			  bottom: 0;
			  right: 0;
			  width: 100%;
			  height: 16px;
				background: #D3E8BE;
			}
		}
	}

}


// rating

.rating-tab.mdl-tabs__tab-bar {
	height: 110px;
	width: 100%;
	margin-top: 20px;
	.mdl-tabs__tab {
		height: 110px;
	}
	a {
		width: 18%;
		text-decoration: none;
		display: block;
		font-size: 12px;
		color: rgba(0,0,0,0.34);
		line-height: 18px;
		img {
			margin: 10px auto;
		}
		strong {
			font-size: 20px;
			color: rgba(0,0,0,0.87);
			line-height: 30px;
		}
	}

}

.rating-container {
	padding: 16px;
	.rating-unit {
		a:any-link {
			text-decoration: none;
		}
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 8px;
		padding-bottom: 8px;
		.product {
			padding: 8px 0;
			img {
				border-radius: 2px;
				height: 88px;
			}
		}
		.buyer {
			a {
				text-decoration: none;
				color: black;
			}
			font-size: 13px;
			small {
				color: rgba(0,0,0,0.32);
			}
		}
	}
}


// sidebar


// nav overflow

nav {
	a.mdl-navigation__link {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		line-height: 24px;
	}
}

.mdl-layout__title {
	margin-top: 16px;
	img {
		position: relative;
		left: -15px;
		top: -3px;
	}
}

.mdl-layout__drawer {
width: 280px;
-webkit-transform: translateX(-290px);
transform: translateX(-290px);
}

.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title {
	padding-left: 26px;
}

.mdl-layout__drawer .mdl-navigation a.mdl-navigation__link {
	padding-left: 26px;
	&.is-active {
		color: #FF4081;
		background-color: lighten(#e0e0e0, 5%);
	}
	i {
		vertical-align: middle;
		margin-right: 32px;
	}
}


// 結帳按鈕

#checkout-fab {
	position: fixed;
	@media (max-width: 480px) {
		bottom: 27px;
		right: 16px;
	}
	bottom: 44px;
	right: 32px;
	z-index: 11;
	display: block;
	transition: all 0.4s;
	-webkit-transform: rotate(180deg) scale(0);
	        transform: rotate(180deg) scale(0);
	opacity: 0;
	&.pop-in {
		opacity: 1;
		-webkit-transform: rotate(0deg) scale(1);
		        transform: rotate(0deg) scale(1);
	}
}

.mdl-mega-footer {
	padding-bottom: 64px;
}

// checkout

.card-padding {
padding: 16px 16px 8px 16px;

	// 橫排的欄位

	.section.horizontal {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		& > div {
			width: 140px;
			margin-right: 1em;
		}
	}

	.section {
		padding: 4px 0 4px 0;
		small {
			color: rgba(0,0,0,0.54);
		}
	}
	.self-fill, .credit-card {
		&.show {
			display: block;
		}
		display: none;
		padding: 16px 24px 0 24px;
	}
}

// icon 和 text 一起出現

.material-icons.with-text {
	vertical-align: middle;
	margin-right: 16px;
}

.list-view {
	ul {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	li {
		border-bottom: 1px solid #DDDDDD;
		&:last-child {
			border: none;
		}
		min-height: 72px;
		height: auto;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 0 16px;
	}
	.col-left {
		-ms-flex-item-align: start;
		    -webkit-align-self: flex-start;
		        align-self: flex-start;
	}
	.col-right {
		-ms-flex-item-align: end;
		        -webkit-align-self: flex-end;
		        align-self: flex-end;
	}
}

.list-view {
	.voter {
		width: 30px;
		text-align: center;
		background: red;
		height: 72px;
		i, small {
			display: block;
		}
	}
}

// register

.mdl-typography--caption {
	line-height: 1.4;
}
