= render :partial => "logo"

.mdl-grid.store-news-list
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone{:style => "text-align: center;"}
    %h3 對不起，此頁面不存在
    %p 請重新整理網頁或回上一頁。

