/
  <div class="icon-divider mdl-layout--small-screen-only">
  <i style="color:#009688;" class="material-icons">stars</i>
  <p class="mdl-typography--caption-color-contrast">常用分類</p>
  </div>
.mdl-grid.category-list.hide-when-search
  .category-card.mdl-cell.mdl-cell--12-col
    .category-container-scroll
      %a.category-icon.search{href: "search.html"} 搜尋商品
      %a.category-icon._1{href: "category.html"} 設計手作
      %a.category-icon._2{href: "category.html"} 文具
      %a.category-icon._3{href: "category.html"} 吃貨
      %a.category-icon._4{href: "category.html"} 女裝
      %a.category-icon._5{href: "category.html"} 美妝
      %a.category-icon._6{href: "category.html"} 配件飾品
      %a.category-icon._7{href: "category.html"} 鞋子包包
      %a.category-icon._8{href: "category.html"} 男生服飾
      %a.category-icon._9{href: "category.html"} 代購連線
      %a.category-icon._10{href: "category.html"} 雜貨
      %a.category-icon._11{href: "category.html"} 二手
      %a.category-icon._12{href: "category.html"} 媽寶
      %a.category-icon._13{href: "category.html"} 貓狗
      %a.category-icon._14{href: "category.html"} 農夫市集
      %a.category-icon._15{href: "category.html"} 家具家飾
      %a.category-icon._16{href: "category.html"} 3C 電器
      %a.category-icon._17{href: "category.html"} 手機與周邊
      %a.category-icon._18{href: "category.html"} 果粉
      %a.category-icon._19{href: "category.html"} 獨立音樂
      %a.category-icon._20{href: "category.html"} 書雜誌
      %a.category-icon._21{href: "category.html"} 相機
      %a.category-icon._22{href: "category.html"} 樂器
      %a.category-icon._23{href: "category.html"} 票券
      %a.category-icon._24{href: "category.html"} 動漫
      %a.category-icon._25{href: "category.html"} 地方限定
      %a.category-icon._26{href: "category.html"} 玩具公仔
      %a.category-icon._27{href: "category.html"} 明星周邊
      %a.category-icon._28{href: "category.html"} 運動戶外
      %a.category-icon._29{href: "category.html"} 交通工具零組件
      %span.hide.category-icon.dot{style: "font-size: 40px; color: rgba(0,0,0,0.2);"} •
      %a.hide.category-icon.favorite-products{href: "category.html"} 收藏的商品
      %a.hide.category-icon.favorite-stores{href: "store-list.html"} 已追蹤商家
