<div class="icon-divider">
  <i style="color:#009688;" class="material-icons">stars</i>
  <p class="mdl-typography--caption-color-contrast">常用分類</p>
</div>


<div class="mdl-grid category-list">
	<div class="category-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
	  <div class="category-container">
			<a href="#" class="category-icon _1">設計手作</a>
			<a href="#" class="category-icon _2">文具</a>
			<a href="#" class="category-icon _3">吃貨</a>
			<a href="#" class="category-icon _4">女裝</a>
			<a href="#" class="category-icon _5">美妝</a>
			<a href="#" class="category-icon _6">配件飾品</a>
			<a href="#" class="mdl-cell--hide-phone category-icon _7">鞋子包包</a>
			<a href="#" class="mdl-cell--hide-phone category-icon _8">男生服飾</a>
			<a href="#" class="mdl-cell--hide-tablet mdl-cell--hide-phone category-icon _9">代購連線</a>
			<a href="#" class="hide category-icon _10">雜貨</a>
			<a href="#" class="hide category-icon _11">二手</a>
			<a href="#" class="hide category-icon _12">媽寶</a>
			<a href="#" class="hide category-icon _13">貓狗</a>
			<a href="#" class="hide category-icon _14">農夫市集</a>
			<a href="#" class="hide category-icon _15">家具家飾</a>
			<a href="#" class="hide category-icon _16">3C 電器</a>
			<a href="#" class="hide category-icon _17">手機與周邊</a>
			<a href="#" class="hide category-icon _18">果粉</a>
			<a href="#" class="hide category-icon _19">獨立音樂</a>
			<a href="#" class="hide category-icon _20">書雜誌</a>
			<a href="#" class="hide category-icon _21">相機</a>
			<a href="#" class="hide category-icon _22">樂器</a>
			<a href="#" class="hide category-icon _23">票券</a>
			<a href="#" class="hide category-icon _24">動漫</a>
			<a href="#" class="hide category-icon _25">地方限定</a>
			<a href="#" class="hide category-icon _26">玩具公仔</a>
			<a href="#" class="hide category-icon _27">明星周邊</a>
			<a href="#" class="hide category-icon _28">運動戶外</a>
			<a href="#" class="hide category-icon _29">交通工具零組件</a>
			<span class="hide category-icon dot">|</span>
			<a href="#" class="hide category-icon favorite-products">喜愛商品</a>
			<a href="#" class="hide category-icon favorite-stores">已追蹤商家</a>
			<!-- placeholder for desktop -->
			<span class="mdl-cell--hide-phone hide hide category-icon dot"></span>
			<span class="mdl-cell--hide-tablet mdl-cell--hide-phonehide hide category-icon dot"></span>
			<span class="mdl-cell--hide-tablet mdl-cell--hide-phonehide hide category-icon dot"></span>
			<span class="mdl-cell--hide-tablet mdl-cell--hide-phonehide hide category-icon dot"></span>
		</div>

	  <div class="mdl-card__actions mdl-card--border">
 			<a href="#" class="show-all-category mdl-button mdl-js-button" style="color:rgba(0,0,0,0.54);">
  			顯示所有分類
			</a>
	  </div>
	</div>
</div>
