<div id="checkout-fab">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--6dp" id="checkout">
  <i class="material-icons">shopping_cart</i>
  </button>
  <span class="mdl-tooltip" for="checkout">開始結帳</span>
</div>