#checkout-fab
  %a#checkout.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--6dp{href: "cart.html"}
    %i.material-icons shopping_cart
  %span.mdl-tooltip{for: "checkout"} 開始結帳
