#checkout-fab
  %a#checkout.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--6dp{"href" => "cart.html"}
    %i.material-icons.mdl-badge.mdl-badge--white-background.mdl-badge--overlap{"data-badge" => "14"} shopping_cart
  %span.mdl-tooltip{"for" => "checkout"} 開始結帳