<div id="checkout-fab">
  <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--6dp" id="checkout" href="cart.html">
  <i class="material-icons">shopping_cart</i>
  </a>
  <span class="mdl-tooltip" for="checkout">開始結帳</span>
</div>