%hr.little.hide-when-search/
%footer.mdl-mega-footer.hide-when-search
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 馬上開始
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "#"} 網路開店
        %li
          %a{href: "#"} 顧客登入
        %li
          %a{href: "#"} 商家撥款須知
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 手打拍賣 APP
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "#"} 下載 iPhone 版
        %li
          %a{href: "#"} 下載 Android 版
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 新消息
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "#"} 訂閱手打快報
        %li
          %a{href: "#"} Facebook 粉絲專業
        %li
          %a{href: "#"} 手打部落格
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 支援服務
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "#"} 常見問題
        %li
          %a{href: "#"} 聯絡我們
  .mdl-mega-footer__bottom-section
    .mdl-logo 手打自販股份有限公司 © 2014 - 2015
    %ul.mdl-mega-footer__link-list
      %li
        %a{href: "#"} 違禁商品列表
      %li
        %a{href: "#"} 隱私權與使用條款
