<hr class="little" />

<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">馬上開始</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">瞭解手打拍賣</a></li>
        <li><a href="#">馬上開店</a></li>
        <li><a href="#">顧客查訂單</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">手打拍賣 APP</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a target="_blank" href="https://itunes.apple.com/tw/app/solda-shou-da-pai-mai-shou/id936562264">下載 iPhone 版</a></li>
        <li><a target="_blank" href="https://play.google.com/store/apps/details?id=solda.io.android&hl=zh_TW">下載 Android 版</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">新消息</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a target="_blank" href="https://www.facebook.com/SoldaApp/">Facebook 粉絲專業</a></li>
        <li><a target="_blank" href="http://blog.solda.io">手打部落格</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">支援服務</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">回報網站問題</a></li>
        <li><a target="_blank" href="https://solda-app.uservoice.com">常見問與答</a></li>
        <li><a target="_blank" href="https://solda-app.uservoice.com">聯絡我們</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">手打自販股份有限公司 © 2014 - 2015</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="https://solda-app.uservoice.com/knowledgebase/articles/670999-手打拍賣違規商品項目">違禁商品列表</a></li>
      <li><a href="http://solda.io/privacy.html">隱私權與使用條款</a></li>
    </ul>
  </div>

</footer>