<hr class="little hide-when-search" />

<footer class="mdl-mega-footer hide-when-search">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">馬上開始</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">網路開店</a></li>
        <li><a href="#">顧客登入</a></li>
        <li><a href="#">商家撥款須知</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">手打拍賣 APP</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">下載 iPhone 版</a></li>
        <li><a href="#">下載 Android 版</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">新消息</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">訂閱手打快報</a></li>
        <li><a href="#">Facebook 粉絲專業</a></li>
        <li><a href="#">手打部落格</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">支援服務</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">常見問題</a></li>
        <li><a href="#">聯絡我們</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">手打自販股份有限公司 © 2014 - 2015</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">違禁商品列表</a></li>
      <li><a href="#">隱私權與使用條款</a></li>
    </ul>
  </div>

</footer>