%hr.little/
%footer.mdl-mega-footer
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 馬上開始
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "#"} 瞭解手打拍賣
        %li
          %a{href: "#"} 馬上開店
        %li
          %a{href: "#"} 顧客查訂單
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 手打拍賣 APP
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "https://itunes.apple.com/tw/app/solda-shou-da-pai-mai-shou/id936562264", target: "_blank"} 下載 iPhone 版
        %li
          %a{href: "https://play.google.com/store/apps/details?id=solda.io.android&hl=zh_TW", target: "_blank"} 下載 Android 版
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 新消息
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "https://www.facebook.com/SoldaApp/", target: "_blank"} Facebook 粉絲專業
        %li
          %a{href: "http://blog.solda.io", target: "_blank"} 手打部落格
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{checked: "checked", type: "checkbox"}/
      %h1.mdl-mega-footer__heading 支援服務
      %ul.mdl-mega-footer__link-list
        %li
          %a{href: "#"} 回報網站問題
        %li
          %a{href: "https://solda-app.uservoice.com", target: "_blank"} 常見問與答
        %li
          %a{href: "https://solda-app.uservoice.com", target: "_blank"} 聯絡我們
  .mdl-mega-footer__bottom-section
    .mdl-logo 手打自販股份有限公司 © 2014 - 2015
    %ul.mdl-mega-footer__link-list
      %li
        %a{href: "https://solda-app.uservoice.com/knowledgebase/articles/670999-手打拍賣違規商品項目"} 違禁商品列表
      %li
        %a{href: "http://solda.io/privacy.html"} 隱私權與使用條款
