<!doctype html>
<html class="no-js" lang="">
  <head>
    <%= render :partial => "header" %>
  </head>
  <body>


      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <!-- 商品頁面的 header -->

        <header id="topbar" class="mdl-layout__header--transparent mdl-layout__header mdl-layout__header--scroll mdl-layout__header--seamed" style="border-bottom: 1px solid rgba(0,0,0,0.11);">
          <div class="mdl-layout__header-row" style="padding-left: 58px;">
						<div class="mdl-layout-spacer"></div>


						<div class="search-field mdl-textfield mdl-js-textfield">
						  <input class="mdl-textfield__input" type="text" id="sample1">
						  <label class="mdl-textfield__label" for="sample1">搜尋商家或商品</label>
						</div>


			        <% if content_for? :logged_in %>

            <nav class="mdl-navigation hide-when-search">
              <a class="mdl-navigation__link nav-activ" href="#">我的手打</a>
              <a class="mdl-navigation__link" href="#">熱賣商品</a>
              <a class="mdl-navigation__link show-search-field" href="#"><i class="material-icons">search</i></a>
            </nav>

            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation hide-when-search">
							<a class="mdl-navigation__link" href="index.html">登出</a>
            </nav>	


			        <% else %>

            <nav class="mdl-navigation hide-when-search">
              <a class="mdl-navigation__link nav-active" href="#">精選</a>
              <a class="mdl-navigation__link" href="#">熱賣商品</a>
              <a class="mdl-navigation__link show-search-field" href="#"><i class="material-icons">search</i></a>
            </nav>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation hide-when-search">
							<a class="mdl-navigation__link" href="index-logged_in.html">登入</a>
            </nav>	


				        <% end %>

          </div>
        </header>

        <div class="corner-area left">
          <a href="index.html" class="logo avatar">
            <img src="img/solda-pick.svg" alt="">
          </a>
        </div>


        

      <main class="mdl-layout__content">
        <%= yield %>
        <%= render :partial => "footer-store" %>
        <%= render :partial => "checkout-fab" %>
      </main>

    </div>
  </body>
</html>