!!!
%html.no-js{lang: ""}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = render :partial => "header"
  %body
    - # %iframe{ :frameborder => "0", :src => "product.html", :style => "position: fixed; background: white; top:0; right:0; bottom: 0; width: 400px; height: 100%; z-index: 8; border-left: 1px solid rgba(0,0,0,0.2); box-shadow: -1px 0 10px rgba(0,0,0,0.3);"}
    .homepage.mdl-layout.mdl-js-layout
      .corner-area.right
        %a.mdl-navigation__link{href: "login.html"} 登入
        
        %a.mdl-button.mdl-js-button.mdl-button--icon{:href => "#"}
          %i.material-icons notifications
        -# %a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon{:href => "index.html"}
          -# %i.material-icons.active-icon notifications_active
      %header.mdl-layout__header.mdl-layout__header--transparent.mdl-cell--hide-desktop
        .mdl-layout-icon
        .mdl-layout__header-row
          %span.mdl-layout-title.mdl-layout--large-screen-only SOLDA 手打拍賣
          .mdl-layout-spacer
      .mdl-layout__drawer
        %span.mdl-layout__title SOLDA 手打拍賣
        %nav.mdl-navigation
          = render :partial => "nav"
      %main.mdl-layout__content
        .vertical-spacer.mdl-layout--small-screen-only
        = yield
        = render :partial => "footer"
