<!doctype html>
<html class="no-js" lang="">
  <head>
    <%= render :partial => "header" %>
  </head>
  <body>
    <div class="homepage mdl-layout mdl-js-layout">
	    <% if content_for? :back %>
	    
	    	<!-- 如果有 back 按鈕，就只顯示 back 按鈕 -->

	      <div class="corner-area left">
	        <a href="index.html" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons">arrow_back</i></a>
	      </div>

	      <header class="mdl-layout__header mdl-layout__header--transparent mdl-cell--hide-desktop">
	        <div class="mdl-layout-icon"></div>
	        <div class="mdl-layout__header-row">
	          <div class="mdl-layout-spacer"></div>
	        </div>
	      </header>

	      
      <% else %>

	    	<!-- 如果是首頁就顯示上方工具列，以及右上方通知 icon -->

	      <div class="corner-area right">
	        <a href="index.html" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons">notifications</i></a>
	        <!-- 如果有通知顯示下方 icon -->
	        <a style="display: none;" href="index.html" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons active-icon">notifications_active</i></a>
	      </div>

	      <header class="mdl-layout__header mdl-layout__header--transparent mdl-cell--hide-desktop">
	        <div class="mdl-layout-icon"></div>
	        <div class="mdl-layout__header-row">
	          <span class="mdl-layout-title mdl-layout--large-screen-only">SOLDA 手打拍賣</span>
	          <div class="mdl-layout-spacer"></div>
	        </div>
	      </header>
	      <div class="mdl-layout__drawer">
	        <span class="mdl-layout__title">SOLDA 手打拍賣</span>
	        <nav class="mdl-navigation">
            <%= render :partial => "nav" %>
	        </nav>
	      </div>
	
	      
			<% end %>
			
      <main class="mdl-layout__content">
        <div class="vertical-spacer mdl-layout--small-screen-only"></div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>