<!doctype html>
<html class="no-js" lang="">
  <head>
    <%= render :partial => "header" %>
  </head>
  <body>
    <div class="homepage mdl-layout mdl-js-layout">
      <div class="notification-area">
        <a href="notification.html"><i class="notification-button material-icons">navigation_back</i></a>
      </div>
      <main class="mdl-layout__content">
        <div class="vertical-spacer mdl-layout--small-screen-only"></div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>