<div class="logo">
  <a href="index.html"><img src="img/solda-pick.svg" alt=""></a>

  <!-- 如果未登入 -->
<!--   <p class="mdl-typography--font-regular">追蹤商家，輕量通販，整合金流物流，三十秒免費開賣。
  <a href="#"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--accent"><i class="material-icons">exit_to_app</i></button> 馬上開店</a> &nbsp;&nbsp;
  <a href="#"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--accent"><i class="material-icons">info_outline</i></button> 瞭解更多</a></p> -->
	
  <!-- 如果已登入 -->
  <p class="mdl-typography--font-regular">歡迎回到手打拍賣！點擊左上角的 <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--accent"><i class="material-icons">menu</i></button> 可打開選單。</p>
	
  <hr class="little" />
</div>