<nav class="mdl-navigation">
  <a class="mdl-navigation__link is-active" href="/"><i class="material-icons">home</i>首頁</a>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">assignment</i>訂單</a>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">question_answer</i>訊息</a>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">store</i>我的商店</a>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">add_circle_outline</i>上架商品</a>
  <hr>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">favorite</i>收藏的商品</a>
  <hr>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">settings</i>商店設定</a>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">help</i>客服中心</a>
  <a class="mdl-navigation__link" href="#"><i class="material-icons">account_circle</i>登出 solda-hero</a>
</nav>