%nav.mdl-navigation
  %a.mdl-navigation__link.is-active{href: "/"}
    %i.material-icons> home
    手打拍賣首頁
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> assignment
    購買紀錄
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> subtitles
    商家收單
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> question_answer
    訊息
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> store
    我的商店
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> add_circle_outline
    上架商品
  %hr/
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> favorite
    收藏的商品
  %hr/
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> settings
    商店設定
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> help
    客服中心
  %a.mdl-navigation__link{href: "#"}
    %i.material-icons> account_circle
    登出 solda-hero
