<div class="mdl-grid" id="compact-search">
  <div class="logo">
    <a href="index.html"><img src="img/solda-pick.svg" alt=""></a>
  </div>
	<!-- 一般的 search area -->
  <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="search-area">
      <i class="material-icons">search</i>
      <input type="text" id="search" placeholder="輸入後按下 Enter 來搜尋" />
    </div>
  </div>

</div>