#search-full.mdl-grid
  .mdl-cell.mdl-cell--8-col.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--2-offset-desktop
    .logo
      %img{alt: "", src: "img/solda-pick.svg"}/
    .search-field
      %label.search-icon-label.mdl-button.mdl-js-button.mdl-button--icon{for: "sample1"}
        %i.material-icons search
      .mdl-textfield.mdl-js-textfield
        %input#sample1.mdl-textfield__input{type: "text"}/
        %label.mdl-textfield__label{for: "sample1"} 搜尋商品
