<div class="mdl-grid" id="compact-search">
  <div class="logo">
    <img src="img/solda-pick.svg" alt="">
    <p><i class="material-icons">close</i></p>
  </div>
	<!-- 一般的 search area -->
  <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="search-area">
      <i class="material-icons">search</i>
      <input type="text" id="search" placeholder="搜尋商品或是商家" />
    </div>
  </div>

  <hr class="little"/>

</div>