<div class="mdl-grid" id="compact-search">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="search-area mdl-shadow--2dp ">
      <i class="material-icons">search</i>
      <input type="text" id="search" placeholder="輸入後按下 Enter 來搜尋" />
    </div>
  </div>
</div>