<div class="mdl-grid">
  <div style="margin: 0 auto;" class="search-area mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <i class="material-icons">search</i>
    <input type="text" id="search" placeholder="搜尋商品或是商家" />
  </div>
  
</div>

<div class="icon-divider">
  <i style="color:#3E4EB8;" class="material-icons">stars</i>
  <div>手打精選</div>
</div>