<div class="mdl-grid">


  <div class="mdl-shadow--2dp mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">
    <div class="search-area">
      <i class="material-icons">search</i>
      <input type="text" id="search" placeholder="搜尋商品或是商家" />
    </div>
  </div>

</div>