<div class="mdl-grid">

  <div class="spacer-grid mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell--hide-phone">
  </div>


  <div class="search-area mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <i class="material-icons">search</i>
    <input type="text" id="search" placeholder="搜尋商品或是商家" />
  </div>
  
  <div class="spacer-grid mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell--hide-phone">
  </div>



</div>

<div class="icon-divider">
  <i style="color:#3E4EB8;" class="material-icons">stars</i>
  <div>手打精選</div>
</div>