<div class="mdl-grid">

  <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="search-area">
      <i class="material-icons">search</i>
      <input type="text" id="search" placeholder="搜尋商品或是商家" />
    </div>
  </div>

</div>