<div class="mdl-grid">
	<div class="spacer-grid mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--hide-phone">
	</div>

	<div id="slideshow" class="mdl-card mdl-cell mdl-shadow--2dp mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
   <div>
     <a href="#"><img src="img/slide/slide1.jpg"></a>
   </div>
   <div>
     <a href="#"><img src="img/slide/slide2.jpg"></a>
   </div>

   <div>
     <a href="#"><img src="img/slide/slide3.jpg"></a>
   </div>

   <div>
     <a href="#"><img src="img/slide/slide4.jpg"></a>
   </div>

   <div>
     <a href="#"><img src="img/slide/slide5.jpg"></a>
   </div>

	</div>

	<div class="spacer-grid mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--hide-phone">
	</div>

</div>