<div class="mdl-grid">
	<div class="mdl-card mdl-cell mdl-shadow--2dp mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laudantium repudiandae, consequuntur sequi repellendus quidem eum nulla veniam labore atque quis amet neque itaque debitis saepe omnis iure ab? At.</div>
	</div>
</div>