<div class="icon-divider mdl-layout--small-screen-only">
  <i style="color:#3E4EB8;" class="material-icons">stars</i>
  <p class="mdl-typography--caption-color-contrast">手打精選</p>
</div>

<div class="mdl-grid">
	<div id="slideshow" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
   <div>
     <a href="#" style="background: url('img/slide/slide1.jpg') center center no-repeat; background-size: cover;"></a>
   </div>
   <div>
     <a href="#" style="background: url('img/slide/slide2.jpg') center center no-repeat; background-size: cover;"></a>
   </div>
   <div>
     <a href="#" style="background: url('img/slide/slide3.jpg') center center no-repeat; background-size: cover;"></a>
   </div>
   <div>
     <a href="#" style="background: url('img/slide/slide4.jpg') center center no-repeat; background-size: cover;"></a>
   </div>
   <div>
     <a href="#" style="background: url('img/slide/slide5.jpg') center center no-repeat; background-size: cover;"></a>
   </div>

	</div>

  <div class="about-solda mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--hide-phone">
    <div class="mdl-card__media mdl-card--expand">
      <a href="#" class="solda-logo mdl-typography--text-center">
      </a>      
    </div>
    <div class="mdl-card__supporting-text">
      追蹤有趣商家，輕鬆販售商品，馬上加入手打拍賣。
    </div>
  </div>

</div>