<!doctype html>
<html class="no-js" lang="">
  <head>
    <%= render :partial => "header" %>
  </head>
  <body>

		<div class="mdl-layout mdl-js-layout">
      <main class="mdl-layout__content">
        <div class="vertical-spacer mdl-layout--small-screen-only"></div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>