<!doctype html>
<html class="no-js" lang="">
  <head>
    <%= render :partial => "header" %>
  </head>
  <body>
<!--       <div class="fixed-area">
        <a href="index.html"><img src="img/solda-pick.svg" alt=""></a>
      </div> -->
      <div id="top-bar"><img src="img/solda-pick.svg" alt=""></div>

      <div class="<% if content_for? :product %>product-page<% else %>store-page<% end %> mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout__header--scroll">
    

      <% if content_for? :product %>

        <div class="corner-area left">
          <a href="store.html" class="avatar" id="store-name">
            <img src="img/avatar/a6.jpg" alt="">
            <span class="mdl-tooltip" for="store-name">寶物淘淘網</span>
          </a>
        </div>

        <div class="corner-area right">

          <a class="mdl-navigation__link"href=""><i class="material-icons">share</i></a>
          <a class="mdl-navigation__link" href=""><i class="material-icons">message</i></a>
        </div>
        
      <% else %>


        <div class="corner-area left">
          <a href="index.html" class="avatar logo">
            <img src="img/solda-pick.svg" alt="">
          </a>
        </div>

        <div class="corner-area right">

          <a class="mdl-navigation__link"href=""><i class="material-icons">share</i></a>
          <a class="mdl-navigation__link" href=""><i class="material-icons">message</i></a>
          <a class="mdl-navigation__link" href="" id="tt2" ><i class="material-icons">star_outline</i><span class="mdl-tooltip" for="tt2">追蹤商家</span></a>
          
          <!-- 以追蹤就顯示這個狀態： -->
  <!--           <a class="mdl-navigation__link" href="" id="tt2" ><i class="material-icons active-icon">star</i><span class="mdl-tooltip" for="tt2">取消追蹤此商家</span></a>
  -->
        </div>



      <% end %>

      <main class="mdl-layout__content">
        <%= yield %>
        <%= render :partial => "footer-store" %>
        <%= render :partial => "checkout-fab" %>
      </main>

    </div>
  </body>
</html>