<!doctype html>
<html class="no-js" lang="">
  <head>
    <%= render :partial => "header" %>
  </head>
  <body>
    <div class="<% if content_for? :product %>product-page<% else %>store-page<% end %> mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout__header--scroll">
    
      <div class="corner-area left">
        <a href="index.html" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons">arrow_back</i></a>
      </div>

      <% if content_for? :product %>

      <!-- 如果是商品頁面，右上角顯示這些按鈕 -->

        <div class="corner-area right">

          <a class="mdl-navigation__link"href=""><i class="material-icons">share</i></a>
          <a class="mdl-navigation__link" href=""><i class="material-icons">message</i></a>
        </div>
        
      <% else %>

      <!-- 如果是商家頁面，右上角顯示這些按鈕 -->

        <div class="corner-area right">

          <a class="mdl-navigation__link"href=""><i class="material-icons">share</i></a>
          <a class="mdl-navigation__link" href=""><i class="material-icons">message</i></a>
          <a class="mdl-navigation__link" href="" id="tt2" ><i class="material-icons">star_outline</i><span class="mdl-tooltip" for="tt2">追蹤商家</span></a>
          
          <!-- 以追蹤就顯示這個狀態： -->
  <!--           <a class="mdl-navigation__link" href="" id="tt2" ><i class="material-icons active-icon">star</i><span class="mdl-tooltip" for="tt2">取消追蹤此商家</span></a>
  -->
        </div>



      <% end %>

      <main class="mdl-layout__content">
        <%= yield %>
        <%= render :partial => "footer-store" %>
      </main>
    </div>
  </body>
</html>