!!!
%html.no-js{lang: ""}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = render :partial => "header"
  %body
    %div{class: "if content_for? :product product-page else store-page mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout__header--scroll"}
      .corner-area.left
        %a.avatar.logo{href: "index.html"}
          %img{alt: "", src: "img/solda-pick.svg"}/
      .corner-area.right
        %a.mdl-navigation__link{href: "login.html"} 登入        
        %a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon{:href => "#"}
          %i.material-icons notifications
      %main.mdl-layout__content
        = yield
        = render :partial => "footer-store"
        = render :partial => "checkout-fab"
