<!-- 指定有 back icon 的 layout -->
<% content_for :back do %>
<% end %>


<%= render :partial => "logo" %>

<%= render :partial => "search" %>
<%= render :partial => "category-mini" %>


<!-- <div class="section-title mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<h2 class="mdl-typography--headline-color-contrast">專題列表名稱<small><br>專題列表描述</small></h2>
	</div>
</div>
 -->
<%= render :partial => "product-list-item-only" %>
