%iframe{:style => "position: fixed; background: white; top:0; right:0; bottom: 0; width: 400px; height: 100%; z-index: 200; border-left: 1px solid rgba(0,0,0,0.2); box-shadow: -1px 0 10px rgba(0,0,0,0.3);",:src => "http://localhost:24681/product.html", :frameborder => "0"}
= render :partial => "logo"
= render :partial => "category-mini"
= render :partial => "search"
= render :partial => "product-list-item-only"
