%iframe{ :frameborder => "0", :src => "http://solda.github.io/Solda-2-Frontend/build_20160728153203/product.html", :style => "position: fixed; background: white; red:0; right:0; bottom: 0; width: 400px; height: 100%; z-index: 600; border-left: 1px solid rgba(0,0,0,0.2); box-shadow: -1px 0 10px rgba(0,0,0,0.3);"}


= render :partial => "logo"
= render :partial => "category-mini"
= render :partial => "search"
= render :partial => "product-list-item-only"
