.logo
	%img{:alt => "", :src => "img/solda-pick.svg", :style => "width: 60px"}/
	%span{:style => "font-size: 30px; line-height: 0px; padding: 10px;"} ⬌
	%img{:src => "img/plurk.svg", :alt => "", :style => "width: 120px"}/
.mdl-grid
	.mdl-cell.mdl-cell--4-col.mdl-cell--4-offset.mdl-cell--2-offset-tablet{style: "text-align:center;"}
		%p.mdl-typography--font-regular
			連接帳號後即可上架到噗浪河道，並享有
			%strong 噗浪推廣
			，若成功透過噗浪販售，則酌收
			%strong 5%
			推廣費用。
			%br/
			%a.mdl-button.mdl-button--primary.open-popup{:href => "https://www.notion.so/fbb4d6fbb2104a95a1038f843f90991d", :target => "_blank"}
				%i.material-icons open_in_new
				瞭解噗浪推廣

.mdl-grid.login-form
	.mdl-cell.mdl-cell--4-col.mdl-cell--4-offset.mdl-cell--2-offset-tablet{style: "text-align:center;"}

		.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
			.mdl-tabs__tab-bar{:style => "margin-bottom: 20px;"}
				%a.mdl-tabs__tab.is-active{:href => "#starks-panel"} 登入手打
				%a.mdl-tabs__tab{:href => "#lannisters-panel"} 沒有手打帳號？
			#starks-panel.mdl-tabs__panel.is-active
				.mdl-card.mdl-shadow--2dp{style: "width:100%;"}
					.mdl-card__supporting-text.mdl-card--border_bottom
						%i.material-icons.with-text> account_circle
						使用者名稱登入
					.card-padding
						%div
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded
								%input#sample3.mdl-textfield__input{type: "text"}/
								%label.mdl-textfield__label{for: "sample3"} 使用者名稱
								%span.mdl-textfield__error 使用者名稱格式錯誤
						%div
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded
								%input#sample3.mdl-textfield__input{type: "password"}/
								%label.mdl-textfield__label{for: "sample3"} 密碼
								%span.mdl-textfield__error 密碼格式錯誤
					.mdl-card__actions
						%a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
							登入
						.mdl-layout-spacer
						%a.mdl-button.mdl-button.mdl-js-button.mdl-js-ripple-effect
							忘記密碼？
				.page-description
					%p.mdl-typography--font-regular
						或是
				%p
					%a.mdl-button--colored.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect{href: "register-facebook.html", style: "width: 90%;"}
						用 Facebook 快速登入
						%span.mdl-button__ripple-container
							%span.mdl-ripple
			#lannisters-panel.mdl-tabs__panel
				%p
					%a.mdl-button--accent.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect{href: "register.html", style: "width: 90%;"}
						用 Email 註冊
						%span.mdl-button__ripple-container
							%span.mdl-ripple
				%p.mdl-typography--caption{style: "color: rgba(0,0,0,0.54);"}
					建議使用 Email 註冊。
				%p
					%a.mdl-button--colored.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect{href: "register-facebook.html", style: "width: 90%;"}
						用 Facebook 快速註冊
						%span.mdl-button__ripple-container
							%span.mdl-ripple
