<%= render :partial => "logo" %>

<div class="page-description">
	<p class="mdl-typography--font-regular">
		請先登入才能繼續。
	</p>
</div>

<div class="mdl-grid login-form">

	<div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--2-offset-tablet" style="text-align:center;">

		<p><a style="width: 90%;" href="register-facebook.html" class="mdl-button--colored mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">使用 Facebook 快速登入<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>	</p>


		<p><a style="width: 90%;"  href="register.html" class="mdl-button--accent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">註冊新的帳號<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>	</p>

		<p class="mdl-typography--caption" style="color: rgba(0,0,0,0.54);">
			不想綁定 Facebook 登入或是要共用帳號的話，請註冊新帳號。
		</p>


	</div>


	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--2-offset-tablet">
				<div class="mdl-card__supporting-text mdl-card--border_bottom">
					<i class="material-icons with-text">account_circle</i>直接登入
				</div>
				<div class="card-padding">

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="text" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">使用者名稱</label>
				    <span class="mdl-textfield__error">使用者名稱格式錯誤</span>
				  </div></div>

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="password" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">密碼</label>
				    <span class="mdl-textfield__error">密碼格式錯誤</span>
				  </div></div>

				</div>

			  <div class="mdl-card__actions">
			    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      登入
			    </a>
			    <div class="mdl-layout-spacer"></div>
			    <a class="mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
			      忘記密碼？
			    </a>
			  </div>


	</div>




</div>
