= render :partial => "logo"

.mdl-grid.store-news-list
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone{:style => "text-align: center;"}
    %h3 此產品已經下架
    %p 您可以到商家的首頁瀏覽其他商品：
    %p
      %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored 勇者擺地攤

