<!-- 指定有 prodcut layout -->
<% content_for :product do %>
<% end %>

	
<div class="product-gallery">
	<img src="img/products/p12.jpg" alt="">
	<img src="img/products/p13.jpg" alt="">
	<img src="img/products/p14.jpg" alt="">
</div>
