<!-- 指定有 back icon 的 layout -->
<% content_for :back do %>
<% end %>


<%= render :partial => "logo" %>

<div class="page-description">
	<p class="mdl-typography--font-regular">
		為保障交易安全，請確實填寫資料。
	</p>
</div>

<div class="mdl-grid login-form">

	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--2-offset-tablet">
				<div class="mdl-card__supporting-text mdl-card--border_bottom">
					<i class="material-icons with-text">mood</i>註冊新帳號
				</div>
				<div class="card-padding">

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="text" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">使用者名稱（英數無空白）</label>
				    <span class="mdl-textfield__error">使用者名稱格式錯誤</span>
				  </div></div>

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="password" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">密碼（至少 8 個字元）</label>
				    <span class="mdl-textfield__error">密碼格式錯誤</span>
				  </div></div>

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="text" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">電子郵件</label>
				    <span class="mdl-textfield__error">格式錯誤</span>
				  </div></div>

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="text" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">真實姓名（超商用，最多五個字）</label>
				    <span class="mdl-textfield__error">超商資料格式限制最多五個字</span>
				  </div></div>

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="text" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">手機號碼（超商用）</label>
				    <span class="mdl-textfield__error">格式錯誤</span>
				  </div></div>

			    <div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				    <input class="mdl-textfield__input" type="text" id="sample3">
				    <label class="mdl-textfield__label" for="sample3">手打商號（個人網址，英數無空白）</label>
				    <span class="mdl-textfield__error">格式錯誤</span>
				  </div></div>

				  <div>
				  	<small>網址範例：http://solda.io/xxxxx</small>
				  	<small><br/>給 Mark：當用戶在填使用者名稱的時候，網址就可以幫他同步填寫囉！</small>
				  </div>



				</div>

			  <div class="mdl-card__actions">
			    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      註冊
			    </a>
			    <div class="mdl-layout-spacer"></div>
			  </div>


	</div>




</div>
