<div class="store-profile">
	<a href="store.html" class="avatar">
		<img src="img/avatar/a6.jpg" alt="">
	</a>
	<h1>寶物淘淘網</h1>
	<p>@cloud-tou • 87 % 好評 </p>
	<a class="profile_excerpt" href="profile.html">大家好，我們是hahahana 
由兩個小小設計師組合的品牌大家好，我們是hahahana 
由兩個小小設計師組合的品牌大家好，我們是hahahana 
由兩個小小設計師組合的品牌</a>
</div>

<div class="mdl-tabs mdl-js-tabs">
  <div class="mdl-tabs__tab-bar">
    <a href="#tab1" class="mdl-tabs__tab is-active">Tab One</a>
    <a href="#tab2" class="mdl-tabs__tab">Tab Two</a>
    <a href="#tab3" class="mdl-tabs__tab">Tab Three</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="tab1">
    <p>First tab's content.</p>
  </div>
  <div class="mdl-tabs__panel" id="tab2">
    <p>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/></p>
  </div>
  <div class="mdl-tabs__panel" id="tab3">
    <p>Third tab's content.</p>
  </div>
</div>
